<section class="content">

      <div class="row">
        <div class="col-md-12">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-circle" src="../../../img/user4-128x128.jpg" alt="User profile picture">

              <h3 class="profile-username text-center">{{myProfile.firstName}} {{myProfile.lastName}}</h3>

              <p class="text-muted text-center">Instructor Auto</p>

                <ul class="list-group list-group-unbordered">
                  <li class="list-group-item">
                    <b>Nr. Elevi</b> <a class="pull-right">3</a>
                  </li>
                  <li class="list-group-item">
                    <b>Following</b> <a class="pull-right">543</a>
                  </li>
                  <li class="list-group-item">
                    <b>Friends</b> <a class="pull-right">13,287</a>
                  </li>
                </ul>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">

        <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Detalii personale</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-car margin-r-5"></i> Categorii</strong>

              <p class="text-muted">
               B
              </p>

              <hr>

              <strong><i class="fa fa-book margin-r-5"></i> Descriere</strong>

              <p class="text-muted">
               {{myProfile.profileDescription}}
              </p>

              <hr>

              <strong><i class="fa fa-phone margin-r-5"></i> Telefon</strong>

              <p class="text-muted">
               {{myProfile.phone}}
              </p>

              <hr>

              <strong><i class="fa fa-envelope margin-r-5"></i> Email</strong>

              <p class="text-muted">
               {{myProfile.email}}
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Adresa</strong>

              <p class="text-muted">{{myProfile.address}}</p>

            </div>
            <!-- /.box-body -->
          </div>
        </div>

        <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Orar</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div *ngFor="let work of myProfile.instructorSchedule">
                <strong>{{daysOfWeek[work.day]}}</strong>

                <p class="text-muted">
                 {{work.workingHours.from | date: 'HH: mm'}} - {{work.workingHours.to | date: 'HH: mm'}}
                </p>
              <div>
              </div>
            <!-- /.box-body -->
            </div>
          </div>
        </div>
      </div>

        <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Detalii Autovehicol(e)</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <p><strong>Marca</strong> Mazda</p>

              <hr>
              <p><strong>Model</strong> Mazda 3</p>

              <hr>

              <p><strong>Nr. Inmatriculare:</strong> CJ-69-ABC</p>
              <hr>

              <p><strong>Descriere: </strong> Descriere masina</p>
              <hr>

              <p><strong>Imagini Autovehicol</strong></p>
              <div class="timeline-body">
                <img src="http://placehold.it/150x100" alt="" class="margin">
                <img src="http://placehold.it/150x100" alt="" class="margin">
                <img src="http://placehold.it/150x100" alt="" class="margin">
                <img src="http://placehold.it/150x100" alt="" class="margin">
              </div>

            </div>
            <!-- /.box-body -->
          </div>
        </div>
      </div>
    </section>
