<div class="row">
  <div class="col-md-6">
    <div class="box box-primary box-solid">
      <div class="box-header">
        <h3 class="box-title">Solicita Programare</h3>
      </div>
      <div class="box-body">
        <div class="form-group">
          <label>Selecteaza Data:</label>
          <div class="input-group date" *ngIf="!loading">
                <owl-date-time-inline
                [min]="minDate"
                [owlDateTimeFilter]="myFilter"
                [(ngModel)]="selectedMoment"
                [pickerType]="'calendar'"
                (click)="onInputFocus()"
                [firstDayOfWeek]="1"
                ></owl-date-time-inline>
          </div>
        </div>
        <div class="overlay" *ngIf="loading">
          <i class="fa fa-refresh fa-spin"></i>
        </div>
      </div>
      <!-- /.box-body -->
      <!-- Loading (remove the following to stop the loading)-->
      <div class="overlay" *ngIf="loading">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- end loading -->
    </div>
  </div>

  <div class="col-md-6">
    <div class="box box-primary box-solid" *ngIf="toggleSchedule">
      <div class="box-header">
        <h3 class="box-title">Selecteaza Ora</h3>
      </div>
      <div class="box-body">
        <p *ngIf="selectedMoment && this.schedule.length == 0 ">Nu sunt ore disponibile in data selectata</p>
        <div *ngIf="selectedMoment && this.schedule.length > 0">
          <div class="form-group" *ngFor="let time of schedule; let i=index">
            <div class="radio">
              <label>
                <input (click)="onSelectTime(i)" type="radio" name="optionsRadios" [value]="i">
                {{time.from | date: 'HH: mm'}} - {{time.to | date: 'HH: mm'}}
              </label>
            </div>
            <hr>
          </div>
          <div *ngIf="this.scheduleIndex >= 0">
            <h4><i class="fa fa-calendar-check-o"></i><strong> {{selectedMoment | date:'MMMM d'}}</strong></h4>
            <h4><i class="fa fa-clock-o"></i> {{schedule[scheduleIndex].from | date: 'HH: mm'}} - {{schedule[scheduleIndex].to | date: 'HH: mm'}}</h4>
            <hr>
            <button (click)="addNewAppointment()" type="button" class="btn btn-block btn-primary">Adauga Programarea</button>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
      <!-- Loading (remove the following to stop the loading)-->
      <div class="overlay" *ngIf="loading">
        <i class="fa fa-refresh fa-spin"></i>
      </div>
      <!-- end loading -->
    </div>
    <div class="alert alert-{{result.status}} alert-dismissible" *ngIf="displayResult">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h4><i class="icon fa fa-check"></i> Solicitarea a fost trimisa!</h4>
      <h4><i class="fa fa-calendar-check-o"></i><strong> {{selectedMoment | date:'MMMM d'}}</strong></h4>
      <h4><i class="fa fa-clock-o"></i> {{result.from | date: 'HH: mm'}} - {{result.to | date: 'HH: mm'}}</h4>
    </div>
  </div>
</div>
