.owl-dt-inline-container, .owl-dt-popup-container {
    width: 100% !important;
    box-shadow: none !important;
}

.datepicker-inline {
    width: 100% !important;
}

.owl-dt-inline-container .owl-dt-calendar, .owl-dt-popup-container .owl-dt-calendar {
    height: 100% !important;
}
