<div class="col-md-6" *ngIf="!editMode">
  <div class="box box-primary">
    <div class="box-header with-border">
      <h3 class="box-title">Orar</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div *ngFor="let work of myProfile.instructorSchedule">
        <strong>{{daysOfWeek[work.day]}}</strong>

        <p class="text-muted" *ngIf="work.workingHours.from">
         {{work.workingHours.from | date: 'HH: mm'}} - {{work.workingHours.to | date: 'HH: mm'}}
        </p>
        <hr>
      <div>
      </div>
    <!-- /.box-body -->
    </div>
      <button (click)='onEditing(myProfile)' class="btn btn-primary">Editeaza</button>
    </div>
  </div>
</div>

<div class="col-md-6" *ngIf="editMode">
  <div class="form-group">
    <label>Selecteaza Ziua</label>
    <select  #select (change)="onSelectDay(select.value)" class="form-control">
      <option>Selecteaza ziua din saptamana</option>
      <option *ngFor="let day of daysOfWeek; let i=index">{{day}}</option>
    </select>
  </div>
  <div *ngIf="showHours">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h2 class="text-center">{{selectedDay}}</h2>
      </div>
      <div class="box-body text-center">
        <h4>
            De la : <strong>{{timeFromInMl | date: 'HH: mm'}}</strong>
        </h4>
        <owl-date-time-inline [(ngModel)]="timeFrom" [stepHour]="1" [stepMinute]="10" [pickerType]="'timer'" (click)="onChangeFrom(timeFrom)"></owl-date-time-inline>
        <h4>
          Pana la: <strong>{{timeToInMl | date: 'HH: mm'}}</strong>
        </h4>
        <owl-date-time-inline [(ngModel)]="timeTo" [stepHour]="1" [stepMinute]="10" [pickerType]="'timer'" (click)="onChangeTo(timeTo)"></owl-date-time-inline>
      </div>
      <div class="form-group">
        <button class="btn btn-block btn-primary <serv></serv>" type="button" (click)="onSavingSchedule()">Adauga in Orar</button>
      </div>
      <div class="form-group">
        <button class="btn btn-block btn-default" type="button" (click)="onCloseSchedule()">Inapoi</button>
      </div>
    </div>
  </div>
</div>
