<div class="col-md-6">
  <h3>Adauga Programare</h3>
  <div class="form-group">
    <label>Data:</label>
    <!-- <owl-date-time-inline style="width: 100%" [firstDayOfWeek]="1" [owlDateTimeFilter]="myFilter" [(ngModel)]="selectedMoment"></owl-date-time-inline> -->
    <div class="input-group date">

        <!-- <input [(ngModel)]="selectedMoment" [owlDateTimeTrigger]="dt9" [owlDateTime]="dt9"
               [owlDateTimeFilter]="myFilter">
        <owl-date-time #dt9 [firstDayOfWeek]="1"></owl-date-time> -->
        <div class="input-group">
          <div class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </div>
          <input
          #input
          (click)="onInputClick()"
          (focus)="onInputChange(input)"
          class="form-control" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask=""
          [(ngModel)]="selectedMoment"
          [owlDateTimeFilter]="myFilter"
          [owlDateTimeTrigger]="dt6"
          [owlDateTime]="dt6">
          <owl-date-time
            afterPickerClosed="onChangeDate()"
            [firstDayOfWeek]="1"
            [pickerType]="'calendar'"
            [startView]="'month'" #dt6>
          </owl-date-time>
        </div>
        <p *ngIf="selectedMoment && this.schedule.length == 0 ">Nu sunt ore disponibile in data selectata</p>
        <div *ngIf="selectedMoment && this.schedule.length > 0">
          <hr>
          <label>Ore disponibile:</label>
          <div *ngFor="let time of schedule; let i=index">
            <button (click)="onSelectTime(i)" type="button" class="btn btn-block btn-success">{{time.from}} - {{time.to}}</button>
            <br>
          </div>
          <div *ngIf="this.scheduleIndex >= 0">
            <p>Data: {{selectedMoment | date:'MMMM d'}}</p>
            <p>Ora: {{schedule[scheduleIndex].from}} - {{schedule[scheduleIndex].to}}</p>
            <button (click)="addNewAppointment()" type="button" class="btn btn-block btn-primary">Adauga Programarea</button>
          </div>
        </div>
    </div>
  </div>

</div>
